@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  font-family: "ABeeZee", sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(90deg, rgba(215,0,26,1) 0%, rgba(245,65,35,1) 100%);
}

.bg {
  background-image: url(./assets/bg.png );
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  font-family: "Fredericka the Great", serif;
}

/* button styles */

.custombutton {
  padding: 0.1em 0.25em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  font-size: 12px;
  cursor: pointer;
}

.custombutton span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  padding: 0 14px;
  height: 2.5em;
  background-color: #212121;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.custombutton span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.custombutton span:not(hover) {
  transition: all 1s;
}

/* link styles */

.customlink {
  align-items: center;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.customlink:before {
  background-color: rgb(213, 39, 39);
  content: "";
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.customlink:hover:before {
  background-color: rgb(213, 39, 39);
  width: 3rem;
}

/* card styles */

.customcard {
  background: #fff;
  padding: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
}

/* exchanges style */

.grayscale {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  
}